@model Cart
@{
    ViewData["Title"] = "AllCart";
    Layout = "_Dashboard";
}

<div class="container mt-5">
    <table class="table table-bordered table-hover my-5">
        @if (Model == null)
        {
            <tr>
                <td class="nav-item text-center" colspan="5">No items in cart</td>
            </tr>
        }
        else
        {

                <!-- Loop through BookingDining -->
            @if (@Model.BookingDinings != null && @Model.BookingDinings.Any())
                {
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th colspan="2">Price</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                foreach (var dining in @Model.BookingDinings)
                    {
                        <tr>
                            <td class="text-center"><img class="img-fluid" style="width: 200px;" src="/Images/Dining/@dining.Dining.Images" alt="Dining image" /></td>
                            <td>@dining.Dining.Name</td>
                            <td>@dining.Date</td>
                            <td colspan="2">@dining.Price</td>
                        <td><a class=" btn btn-success" style="background-color: #DFA974; border:none" href="/BookingDining/Edit?id=@dining.Id">Edit</a></td>
                        <td><a href="/BookingDining/Delete?id=@dining.Id" class="btn btn-danger">Delete</a></td>
                        
                        </tr>
                    }
                }
                <!-- Loop through BookingRoom -->
            @if (@Model.BookingRooms != null && @Model.BookingRooms.Any())
                {
                    <tr>
                        <td colspan="5" class="nav-item"><strong>Room Bookings:</strong></td>
                    </tr>
                    <tr>
                        <th>Image</th>
                        <th>Room Type</th>
                        <th>Check-in</th>
                        <th>Check-out</th>
                        <th>Price</th
                        <th>Delete</th>
                    </tr>
                foreach (var room in @Model.BookingRooms)
                    {
                        <tr>
                            <td class="text-center"><img class="img-fluid" style="width: 200px;" src="/Images/RoomType/@room.HotelRoom.HotelRoomType.Images" alt="Room image" /></td>
                            <td>@room.HotelRoom.HotelRoomType.Name</td>
                            <td>@room.CheckInDate</td>
                            <td>@room.CheckOutDate</td>
                            <td>@room.TotalPrice</td>
                        <td><a href="/BookingRoom/Delete?id=@room.Id" class="btn btn-danger">Delete</a></td>
                        </tr>
                    }
                }

                <!-- Loop through BookingExperience -->
            @if (Model.BookingExperiences != null && Model.BookingExperiences.Any())
            {
                <tr>
                    <td colspan="5" class="nav-item"><strong>Experience Bookings:</strong></td>
                </tr>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th colspan="2">Price</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                foreach (var experience in Model.BookingExperiences)
                {
                    <tr>
                        <td class="text-center"><img class="img-fluid" style="width: 200px;" src="/Images/Experience/@experience.Experience.CoverImage" alt="Experience image" /></td>
                        <td>@experience.Experience.Name</td>
                        <td>@experience.Date</td>
                        <td colspan="2">@experience.Price</td>
                        <td><a class=" btn btn-success" style="background-color: #DFA974; border:none" href="/BookingExperience/Edit?id=@experience.Id">Edit</a></td>
                        <td>
                            <a href="/BookingExperience/Delete?id=@experience.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            }

            <!-- Display Shipping Price -->
            <tr>
                <td colspan="5" class="nav-item text-right">Shipping Price: @Model.ShippingPrice</td>
            </tr>
        }
    </table>

    <div style="margin: 10px; text-align: right;" class="header-configure-area">
        <a href="@Url.Action("ConfirmCart", "Cart")" class="btn btn-primary" style="background-color: #DFA974; margin-bottom: 50px; border: none;">Confirm Cart</a>
    </div>
</div>
